Repository octave-commons/promethean: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-orphan-docs, tsc-no-emit, pytest, changelog-fragments

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-orphan-docs
        name: Generate docs for orphaned files
        entry: python scripts/generate_orphan_docs.py
        language: system
        pass_filenames: false
        files: ^orphaned-files-report\.md$
      - id: enforce-wiki-links
        name: Enforce Wikilinks
        entry: python scripts/kanban/hashtags_to_kanban.py --check --write --wikilinks
        language: system
        pass_filenames: false
      - id: tsc-no-emit
        name: TypeScript compile check
        entry: make ts-type-check
        language: system
        types_or: [javascript, ts, tsx]
        pass_filenames: false
      - id: pytest
        name: Python tests
        entry: pytest -q
        language: system
        types: [python]
        pass_filenames: false
      - id: full-build
        name: Full build
        entry: make build
        language: system
        pass_filenames: false
        stages: [manual]
      - id: test-js-services
        name: Run JS service tests
        entry: pnpm test
        language: system
        pass_filenames: false
        files: ^services/js/
        stages: [manual]
      - id: test-ts-services
        name: Run TS service tests
        entry: pnpm test
        language: system
        pass_filenames: false
        files: ^services/ts/
        stages: [manual]
      - id: test-shared
        name: Run shared library tests
        entry: pnpm test
        language: system
        pass_filenames: false
        files: ^shared/
        stages: [manual]
      - id: test-migrations
        name: Run migration fixture tests
        entry: pnpm test
        language: system
        pass_filenames: false
        files: ^tests/fixtures/migrations/
        stages: [manual]
      - id: secret-scan
        name: Scan for forbidden tokens
        entry: bash scripts/ci/secret_scan.sh
        language: system
        pass_filenames: false
      - id: changelog-fragments
        name: Changelog fragments check
        entry: python scripts/check_changelog.py
        language: system
        files: ^(changelog\.d/|CHANGELOG\.md$)
        pass_filenames: false
      - id: check-changelog-fragments
        name: Ensure changelog fragments are numbered
        entry: python scripts/check_changelog_fragments.py
        language: system
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.32.0
    hooks:
      - id: eslint
        types: [javascript, ts, tsx]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, tsx, json, yaml]
        exclude: ^legacy/
        args: [--ignore-path=.prettierignore]

robits
  docs/agile/boards/kanban.md
  services/ts/cephalon/src/tests/embedding.test.ts
  services/ts/cephalon/src/tests/llm_forward.test.ts
  services/ts/cephalon/src/tests/tool-call.test.ts
  services/ts/kanban-processor/tests/queue.test.ts
  shared/js/brokerClient.js
  tests/brokerClient.integration.test.js
  tests/brokerClient.tasks.unit.test.js
  tests/brokerClient.unit.test.js
Due: tsc-no-emit

hacks
  mk/util.hy
Due: none

hacks
  .pre-commit-config.yaml
  changelog.d/0000.fixed.md
  changelog.d/1234.fixed.md
  changelog.d/12346.changed.md
  changelog.d/1729.fixed.md
  changelog.d/4242.changed.md
  changelog.d/48000.changed.md
  changelog.d/6321.added.md
  changelog.d/6789.added.md
  changelog.d/99990.added.md
  changelog.d/99999.added.md
  changelog.d/99999.fixed.md
  changelog.d/attachment-embedder-ava-ts-config.changed.md
  changelog.d/auth-service-test-script.changed.md
  changelog.d/check-pins.added.md
  changelog.d/lint-topics-hook.added.md
  changelog.d/mypy-pre-commit.added.md
  changelog.d/node-engine-range.changed.md
  changelog.d/secret-scan.security.md
  changelog.d/tts-nltk.changed.md
  changelog.d/tts-offline.fixed.md
  docs/agile/boards/kanban.md
  pnpm-lock.yaml
  services/js/vision/index.js
  services/js/vision/tests/broker.unit.test.js
  services/ts/cephalon-discord/src/index.ts
  services/ts/cephalon/src/tests/embedding.test.ts
  services/ts/cephalon/src/tests/llm_forward.test.ts
  services/ts/cephalon/src/tests/tool-call.test.ts
  services/ts/discord-gateway/src/index.ts
  services/ts/discord-rest/src/index.ts
  services/ts/file-watcher/src/tests/broker.unit.test.ts
  services/ts/kanban-processor/src/index.ts
  services/ts/kanban-processor/tests/queue.test.ts
Due: tsc-no-emit, changelog-fragments

docs: deduplicate kanban board tasks
  docs/agile/boards/kanban.md
Due: none

hacks
  docs/agile/boards/find-music-that-triggered-copyright-mute-on-twitch-for-analysis-incoming-md-find-music-that-triggered-copyright-mute-on-twitch-for-analysis-incoming.md
  docs/agile/boards/gather-baseline-emotion-metrics-for-eidolon-field-1-md-md-gather-baseline-emotion-metrics-for-eidolon-field.md
  docs/agile/boards/kanban.md
  docs/codex-context/requests/2025.08.27.18.47.38.md
  docs/codex-context/requests/2025.08.27.18.47.40.md
  docs/codex-context/requests/2025.08.27.18.50.04.md
  docs/codex-context/requests/2025.08.27.19.10.08.md
  docs/codex-context/requests/2025.08.27.19.10.09.md
  services/ts/kanban-processor/src/index.ts
  services/ts/markdown-graph/src/graph.ts
  shared/ts/package.json
  shared/ts/tsconfig.json
Due: tsc-no-emit

hacks
  pnpm-lock.yaml
  shared/ts/src/markdown/kanban.ts
  shared/ts/src/markdown/statuses.ts
  shared/ts/src/markdown/sync.ts
  shared/ts/src/markdown/task.ts
  shared/ts/src/markdown/unist-util-to-string-with-nodes.d.ts
  shared/ts/src/tests/kanban.test.ts
  shared/ts/src/tests/markdown.statuses.test.ts
  shared/ts/src/tests/markdown.sync.test.ts
  shared/ts/src/tests/markdown.task.test.ts
  shared/ts/tsconfig.json
Due: tsc-no-emit

hacks
  shared/ts/src/tests/markdown.statuses.test.ts
  shared/ts/src/tests/markdown.sync.test.ts
  shared/ts/src/tests/markdown.task.test.ts
  shared/ts/tsconfig.json
Due: tsc-no-emit

Just get it done
  AGENTS.md
  config/mcp_servers.edn
  docker-compose.yml
  scripts/mcp/bin/duck.sh
  scripts/mcp/bin/filesystem.sh
  scripts/mcp/bin/github.sh
  scripts/mcp/bin/github_chat.sh
  scripts/mcp/bin/mongo.sh
  scripts/mcp/bin/obsidian.sh
  scripts/mcp/bin/sonarqube.sh
  services/ts/smartgpt-bridge/logs/indexer/_home_err_devel_promethean_services_ts_smartgpt-bridge_tests_tmp_inc1/bootstrap.json
  shared/ts/shared/ts/tmp-tests/tasks-sync/Fix login flow -!-- id- 1111-aaaa ---.md
  shared/ts/shared/ts/tmp-tests/tasks-sync/Working item -!-- id- 3333-cccc ---.md
  shared/ts/shared/ts/tmp-tests/tasks-sync/existing.md
  shared/ts/src/markdown/kanban.ts
  shared/ts/src/markdown/statuses.ts
  shared/ts/src/markdown/sync.ts
  shared/ts/src/markdown/task.ts
  shared/ts/src/tests/integration.markdown.sync.test.ts
  shared/ts/src/tests/markdown.kanban.helpers.test.ts
  shared/ts/src/tests/markdown.statuses.test.ts
  shared/ts/src/tests/markdown.sync.helpers.test.ts
  shared/ts/src/tests/markdown.sync.test.ts
  shared/ts/src/tests/markdown.task.test.ts
Due: tsc-no-emit

migrating to bb for build tools
  bb.edn
  bb/src/mk/commands.clj
  bb/src/mk/configs.clj
  bb/src/mk/hy.clj
  bb/src/mk/macros.clj
  bb/src/mk/node.clj
  bb/src/mk/python.clj
  bb/src/mk/util.clj
  mk/commands.hy
  mk/configs.hy
  mk/docker.hy
  mk/hy.hy
  mk/kanban.hy
  mk/macros.hy
  mk/node.hy
  mk/python.hy
  mk/refesh.hy
  mk/sibilant.hy
  mk/util.hy
  mk/uv.hy
  promethean.code-workspace
Due: none

hacks
  mk/commands.hy
Due: none

many things!
  config/mcp_servers.edn
  docker-compose.yml
  docs/Daily/2025-08-28.md
  docs/agile/boards/kanban.md
  docs/agile/tasks/CI passses.md
  docs/agile/tasks/consolidate all configs into ` config` as `.edn` files.md
  docs/rewrite build tools with bb.md
  mk/mcp-compile.clj
  package.json
  scripts/install-clj-python-ml.sh
  scripts/install-clojure.sh
  scripts/mcp/bin/duck.sh
  scripts/mcp/bin/filesystem.sh
  scripts/mcp/bin/github.sh
  scripts/mcp/bin/github_chat.sh
  scripts/mcp/bin/mongo.sh
  scripts/mcp/bin/obsidian.sh
  scripts/mcp/bin/sonarqube.sh
Due: none

hacks
  .clj-kondo/imports/babashka/fs/config.edn
  .clj-kondo/imports/http-kit/http-kit/config.edn
  .clj-kondo/imports/http-kit/http-kit/httpkit/with_channel.clj
  .clj-kondo/imports/rewrite-clj/rewrite-clj/config.edn
  .clj-kondo/imports/taoensso/encore/config.edn
  .clj-kondo/imports/taoensso/encore/taoensso/encore_hooks.clj
Due: none

Ready to do stuff
  bb.edn
  bb/src/mk/commands.clj
  run/setup_codex_dev_env.sh
Due: none
