Repository octave-commons/promethean: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-orphan-docs, tsc-no-emit, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-orphan-docs
        name: Generate docs for orphaned files
        entry: python scripts/generate_orphan_docs.py
        language: system
        pass_filenames: false
        files: ^orphaned-files-report\.md$
      - id: enforce-wiki-links
        name: Enforce Wikilinks
        entry: python scripts/kanban/hashtags_to_kanban.py --check --write --wikilinks
        language: system
        pass_filenames: false
      - id: tsc-no-emit
        name: TypeScript compile check
        entry: make ts-type-check
        language: system
        types_or: [javascript, ts, tsx]
        pass_filenames: false
      - id: pytest
        name: Python tests
        entry: pytest -q
        language: system
        types: [python]
        pass_filenames: false
      - id: test-js-services
        name: Run JS service tests
        entry: pnpm test
        language: system
        files: ^services/js/
        pass_filenames: false
        stages: [manual]
      - id: test-ts-services
        name: Run TS service tests
        entry: pnpm test
        language: system
        files: ^services/ts/
        pass_filenames: false
        stages: [manual]
      - id: test-shared-js
        name: Run shared JS library tests
        entry: pnpm test
        language: system
        files: ^shared/js/
        pass_filenames: false
        stages: [manual]
      - id: test-shared-ts
        name: Run shared TS library tests
        entry: pnpm test
        language: system
        files: ^shared/ts/
        pass_filenames: false
        stages: [manual]
      - id: test-migration-fixtures
        name: Run migration fixture tests
        entry: pnpm test
        language: system
        files: ^(services/ts/migrations|shared/ts/src/migrations|tests/fixtures/migrations)/
        pass_filenames: false
        stages: [manual]
      - id: full-build
        name: Full build
        entry: make build
        language: system
        pass_filenames: false
        stages: [manual]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.32.0
    hooks:
      - id: eslint
        types: [javascript, ts, tsx]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, tsx, json, yaml]
        exclude: ^legacy/
        args: [--ignore-path=.prettierignore]

Use package-relative imports in tests
  pytest.ini
  scripts/kanban/__init__.py
  scripts/kanban/normalize_statuses.py
  services/hy/discord_indexer/tests/test_discord_indexer.py
  services/hy/stt/tests/stt_unit_test.py
  services/hy/tts/tests/test_tts_websocket.py
  services/py/discord_attachment_embedder/tests/test_embedder.py
  services/py/discord_indexer/tests/test_discord_indexer.py
  services/py/embedding_service/tests/test_naive_driver.py
  services/py/embedding_service/tests/test_service.py
  services/py/llm/tests/test_drivers.py
  services/py/stt/tests/test_service.py
  services/py/tts/tests/test_tts_websocket.py
  shared/py/speech/tests/test_audio_utils.py
  shared/py/speech/tests/test_spell_checker.py
  shared/py/tests/test_date_tools.py
  shared/py/tests/test_discord_attachment.py
  shared/py/tests/test_embedding_client.py
  shared/py/tests/test_gui.py
  shared/py/tests/test_heartbeat_client.py
  shared/py/tests/test_numbers.py
  shared/py/tests/test_pca.py
  shared/py/tests/test_service_clients.py
  shared/py/tests/test_speech_utils.py
  shared/py/tests/test_split_sentences.py
  shared/py/tests/test_text_preprocessing.py
  shared/py/tests/test_tts_models.py
  shared/py/tests/test_wav_processing.py
  shared/py/tests/test_whisper_stream.py
  tests/conftest.py
  tests/scripts/test_add_tags_ollama.py
  tests/scripts/test_agile_statuses.py
  tests/scripts/test_convert_wikilinks.py
  tests/scripts/test_generate_service_templates.py
  tests/scripts/test_hashtags_to_kanban.py
  tests/scripts/test_kanban_to_hashtags.py
  tests/scripts/test_lowercase_links.py
  tests/scripts/test_simulate_ci.py
  tests/scripts/utils.py
Due: pytest

refactor: clean audio preprocessing
  services/py/stt/whisper-npu-py/audio.py
  services/py/stt/whisper-npu-py/whisper_streamer.py
Due: pytest

Refactor TTS startup for lazy model init
  changelog.d/tts-offline.fixed.md
  services/py/tts/app.py
Due: pytest

Add changelog validation pre-commit hook
  .pre-commit-config.yaml
  docs/pre-commit.md
  scripts/check_changelog.py
Due: pytest

feat: manage changelog fragments by PR
  .pre-commit-config.yaml
  changelog.d/0000.added.md
  changelog.d/0000.changed.md
  changelog.d/1234.changed.md
  changelog.d/12345.changed.md
  changelog.d/9999.changed.md
  changelog.d/99999.added.md
  changelog.d/99999.changed.md
  changelog.d/auth-tests.added.md
  changelog.d/board-triage.changed.md
  scripts/check_changelog_fragments.py
  scripts/rename_changelog_fragments.py
Due: pytest

chore: add changelog entry for vision stop cleanup
  changelog.d/1234.fixed.md
  services/js/vision/index.js
  services/js/vision/tests/capture.test.js
  services/js/vision/tests/websocket.test.js
Due: tsc-no-emit

docs: enforce changelog fragments
  AGENTS.md
  CHANGELOG.md
Due: none

refactor(tts): guard nltk download at startup
  changelog.d/tts-nltk.changed.md
  services/py/tts/README.md
  services/py/tts/app.py
  services/py/tts/tests/test_tts_websocket.py
Due: pytest

Add mypy pre-commit hook
  .pre-commit-config.yaml
  changelog.d/mypy-pre-commit.added.md
Due: none

chore: add lint-topics pre-commit hook
  .pre-commit-config.yaml
  changelog.d/lint-topics-hook.added.md
  scripts/lint-topics.ts
Due: tsc-no-emit

Rename wisper_stt to whisper_stt
  docs/maintenance/orphaned-files.md
  docs/services/stt/app.md
  promethean.egg-info/SOURCES.txt
  scripts/batch_transcribe.py
  services/hy/stt/app.hy
  services/hy/stt/tests/stt_unit_test.py
  services/py/stt/service.py
  services/py/stt/tests/test_service.py
  services/py/stt/tests/test_whisper_stt_config.py
  shared/py/speech/whisper_stt.py
  tests/e2e/test_discord_dialog.py
  tests/integration/test_stt_llm_tts.py
Due: pytest

feat: lazy spell checker model
  changelog.d/4242.changed.md
  shared/py/speech/spell_checker.py
  shared/py/speech/tests/test_spell_checker.py
Due: pytest
