Repository octave-commons/promethean: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-orphan-docs, tsc-no-emit, pytest, changelog-fragments

generate-orphan-docs:
  name: Generate docs for orphaned files
  entry: python scripts/generate_orphan_docs.py
  language: system
  pass_filenames: false

tsc-no-emit:
  name: TypeScript compile check
  entry: make ts-type-check
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: pytest -q
  language: system
  pass_filenames: false

changelog-fragments:
  name: Changelog fragments check
  entry: python scripts/check_changelog.py
  language: system
  pass_filenames: false

hacks
  .pre-commit-config.yaml
  build-errors.txt
  packages/buildfix/tsconfig.tsbuildinfo
  packages/cookbookflow/tsconfig.tsbuildinfo
  packages/readmeflow/tsconfig.tsbuildinfo
  packages/tests/src/stream-title.test.ts
  packages/tests/tsconfig.tsbuildinfo
  run/setup_codex_dev_env.sh
Due: tsc-no-emit

I killed the snake
  agents/README.md
  agents/README.md.bak
  agents/duck/.env.example
  agents/duck/.gitignore
  agents/duck/.tokens.example
  agents/duck/Pipfile
  agents/duck/Pipfile.lock
  agents/duck/README.md
  agents/duck/README.md.bak
  agents/duck/config/permissions.yaml
  agents/duck/ecosystem.config.js
  agents/duck/scripts/run_cephalon.sh
  agents/duck/scripts/run_chroma.sh
  agents/duck/scripts/run_discord_indexer.sh
  agents/duck/scripts/run_embedder.sh
  agents/duck/scripts/run_vision.sh
  agents/templates/README.md
  agents/templates/config/permissions.yaml
  build-errors.txt
  mk.hy/__init__.py
  mypy.ini
  packages/buildfix/src/02-iterate.ts
  packages/buildfix/src/iter/dsl.ts
  packages/buildfix/src/iter/eval.ts
  packages/buildfix/src/iter/git.ts
  packages/buildfix/src/iter/plan.ts
  packages/buildfix/src/iter/prompt.ts
  packages/buildfix/tsconfig.tsbuildinfo
  pyproject.toml
  pytest.ini
  run/codex_maintainance.sh
  run/setup_codex_dev_env.sh
  templates/py/service/Pipfile
  templates/py/service/README.md
  templates/py/service/service.py
  templates/py/service/tests/test_service.py
  uv.lock
Due: tsc-no-emit, pytest

hacks
  .pre-commit-config.yaml
  packages/buildfix/pipelines.yml
  packages/buildfix/src/02-iterate.ts
  packages/buildfix/src/iter/git.ts
  packages/buildfix/src/types.ts
Due: tsc-no-emit

fix: resolve TypeScript build errors
  package.json
  services/ts/codex-context/src/index.ts
  tsconfig.base.json
Due: tsc-no-emit

hacks
  build-errors.txt
  packages/buildfix/tsconfig.tsbuildinfo
  packages/cookbookflow/tsconfig.tsbuildinfo
  packages/testgap/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: none

hacks
  .dir-locals.el
  docs/agile/pipelines/pipeline-docops.md
  docs/unique/.space/context.mdb
  docs/unique/2025.08.31.16.57.42.md
  docs/unique/2025.08.31.17.59.30.md
  docs/unique/2025.08.31.18.14.03.md
  docs/unique/2025.08.31.19.50.08.md
  docs/unique/2025.09.01.09.10.49.md
  docs/unique/2025.09.01.10.55.22.md
  docs/unique/2025.09.01.10.58.21.md
  docs/unique/chunks/diagrams.md.bak
  docs/unique/chunks/dsl.md.bak
  docs/unique/chunks/js.md.bak
  docs/unique/chunks/math.md.bak
  docs/unique/chunks/ops.md.bak
  docs/unique/chunks/services.md.bak
  docs/unique/chunks/shared.md.bak
  docs/unique/chunks/simulation.md.bak
  docs/unique/chunks/tooling.md.bak
  docs/unique/chunks/wm.md.bak
  package.json
  packages/buildfix/tsconfig.tsbuildinfo
  packages/docops/package.json
  packages/docops/src/02-embed.ts
  packages/docops/src/utils.ts
  packages/piper/tsconfig.json
  packages/piper/tsconfig.tsbuildinfo
  packages/testgap/tsconfig.tsbuildinfo
  packages/tests/tsconfig.tsbuildinfo
  pipelines.yaml
  pnpm-lock.yaml
Due: tsc-no-emit

hacks
  packages/docops/src/01-frontmatter.ts
  packages/docops/src/02-embed.ts
  packages/docops/src/03-query.ts
  packages/docops/src/04-relations.ts
  packages/docops/src/05-footers.ts
  packages/docops/src/06-rename.ts
  packages/docops/src/dev-ui.ts
  packages/docops/src/index.ts
  packages/docops/src/preview-front.ts
  packages/docops/src/utils.ts
  packages/docops/ui/main.js
  packages/level-cache/src/index.ts
  packages/level-cache/src/types.ts
  packages/level-cache/tsconfig.json
  pnpm-lock.yaml
  scripts/fix-bins.js
  tmp-check-q.js
Due: tsc-no-emit

Path conditions:
  generate-orphan-docs: any of: ^orphaned-files-report\.md$
  tsc-no-emit: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  pytest: any of: \.py$
  changelog-fragments: any of: ^(changelog\.d/|CHANGELOG\.md$)
